<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Winter Store", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Equipment for rent <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>@Html.ActionLink("All equipment", "Index", "Equipment")</li>
                        <li class="divider"></li>
                        <li><a href="#">Skiing</a></li>
                        <li><a href="#">Snowboard</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Adult section</a></li>
                        <li><a href="#">Junior section</a></li>
                    </ul>
                </li>
                <li>@Html.ActionLink("Our store", "Index", "Store")</li>
                <li>@Html.ActionLink("Customers", "Index", "Customers")</li>
                <li>@Html.ActionLink("Rental Registry", "Index", "Rentals")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div> 
</div>